<!-- payment section -->
<section class="food_section layout_padding-bottom mt-5">
    <div class="container form_payment">
      <h1 style="text-align: center;">Thông tin thanh toán</h1>
      <hr>
      <div class="row" >
        <div class="col-75 " style="border: solid;">
          <div class="container ">
            <form action="/action_page.php">
            
              <div class="row">
                <div class="col-50">
                  <h3>Thông tin khách hàng</h3>
                  <label for="fname"><i class="fa fa-user"></i> Họ và tên</label>
                  <input type="text" id="full-name-info" name="firstname" placeholder="Nguyễn Văn A">
                  <label for="email"><i class="fa fa-envelope"></i> Email</label>
                  <input type="text" id="email-info" name="email" placeholder="nva@example.com">
                  <label for="adr"><i class="fa fa-address-card-o"></i> Địa chỉ</label>
                  <input type="text" id="address-info" name="address" placeholder="542 Tran Hung Dao">
                  <label for="city"><i class="fa fa-institution"></i> Thành phố</label>
                  <input type="text" id="city-info" name="city" placeholder="Ho Chi Minh">

                  <div class="row">
                    <div class="col-50">
                      <label for="state">Quận</label>
                      <input type="text" id="state-info" name="state" placeholder="Quan X">
                    </div>
                  </div>
                </div>

                <div class="col-50">
                  <h3>Phương thức thanh toán</h3>
                  <label for="fname-card">Chấp nhận các loại thanh toán</label>
                  <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                  </div>
                  <label for="nameCard">Chọn thẻ</label>
                  <select id="select-cart" >
                    <option value="">--Vui lòng chọn ngân hàng--</option>
                    <option value="tcb">Ngân hàng Techcombank</option>
                    <option value="tpb">Ngân hàng TpBank</option>
                    <option value="agr">Ngân hàng Agribank</option>
                  </select><br> <br>
                  <label for="cname">Tên chủ thẻ</label>
                  <input type="text" id="name-card" name="cardname" placeholder="Nguyen Van A">
                  <label for="ccnum">Số thẻ</label>
                  <input type="text" id="num-card" name="cardnumber" placeholder="1111-2222-3333-4444">
                  <label for="expmonth">Hạn sử dụng</label>
                  <input type="text" id="expmonth-card" name="expmonth" placeholder="Thang 7">
                </div>
              </div>
              <label>
                <input type="checkbox" checked="checked" name="sameadr"> Giao hàng vào đúng địa chỉ đã nhập
              </label>
              <div style="background-color: orange; padding: 10px; text-align: center;"><a id="button-payment">Tiếp tục thanh toán</a></div>
            </form>
          </div>
        </div>
        <div class="col-25">
          <div class="container show-order">
            <!-- <div class="row">
              <div class="col-6"><h6><b>Tên</b></h6></div>
              <div class="col-4"><h6><b>Số lượng</b></h6></div>
              <div class="col-2"><h6><b>Giá</b></h6></div>
            </div>
            <div class="row">
              <div class="col-6"><p>Bánh mì chả lụa</p></div>
              <div class="col-4"><p>2</p></div>
              <div class="col-2"><p>30000</p></div>
            </div>
            
            <hr>
            <div class="row">
              <div class="col-6"><p>Tổng tiền:</p></div>
              <div class="col-6"><b>30000 Vnd</b></div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end payment section -->