<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>TRAVELOKAKA</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<!-- Favicon -->
<link href="img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="../public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="../public/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link href="../public/css/style.css" rel="stylesheet">
	<style>
		#setImage img {
			width: 100%;
		}
	</style>
</head>

<body>
	<!-- Topbar Start -->
	<div class="container-fluid bg-light pt-3 d-none d-lg-block">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
					<div class="d-inline-flex align-items-center">
						<p>
							<i class="fa fa-envelope mr-2"></i>travelokaka@business.com
						</p>
						<p class="text-body px-3">|</p>
						<p>
							<i class="fa fa-phone-alt mr-2"></i>012 345 6789
						</p>
					</div>
				</div>
				<div class="col-lg-6 text-center text-lg-right">
					<div class="d-inline-flex align-items-center">
						<a class="text-primary px-3" href=""> <i class="fab fa-facebook-f"></i></a>
						<a class="text-primary px-3" href=""> <i class="fab fa-twitter"></i></a>
						<a class="text-primary px-3" href=""> <i class="fab fa-linkedin-in"></i></a> 
						<a class="text-primary px-3" href=""> <i class="fab fa-instagram"></i></a> 
						<a class="text-primary pl-3" href=""> <i class="fab fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Topbar End -->


	<!-- Navbar Start -->
	<div class="container-fluid position-relative nav-bar p-0">
		<div class="container-lg position-relative p-0 px-lg-3"
			style="z-index: 9;">
			<nav
				class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
				<a href="/" class="navbar-brand">
					<h1 class="m-0 text-primary">
						<span class="text-dark">TRAVELO</span>KAKA
					</h1>
				</a>
				<button type="button" class="navbar-toggler" data-toggle="collapse"
					data-target="#navbarCollapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-between px-3"
					id="navbarCollapse">
					<div class="navbar-nav ml-auto py-0">
						<a href="/" class="nav-item nav-link active">Trang chủ</a> 
						<a href="/tour/trong-nuoc" class="nav-item nav-link">Tour trong nước</a>
						<a href="/tour/ngoai-nuoc" class="nav-item nav-link">Tour ngoài nước</a>
						<a href="/tin-tuc" class="nav-item nav-link">Tin tức</a>
						<a href="/about" class="nav-item nav-link">Về chúng tôi</a>
						<a href="/account" class="nav-item nav-link">Tài khoản</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<!-- Navbar End -->


	<!-- Header Start -->
	<div class="container-fluid page-header">
		<div class="container">
			<div
				class="d-flex flex-column align-items-center justify-content-center"
				style="min-height: 400px">
				<h3 class="display-4 text-white text-uppercase">Thông tin chi tiết tour</h3>
				<div class="d-inline-flex text-white">
					<p class="m-0 text-uppercase">
						<a class="text-white" href="">Trang chủ</a>
					</p>
					<i class="fa fa-angle-double-right pt-1 px-3"></i>
					<p class="m-0 text-uppercase">Chi tiết tour</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Header End -->

	<!-- Blog Start -->
	<div class="container-fluid py-5">
		<div class="container py-5">
			<div class="row">
				<div class="col-lg-8">
					<!-- Blog Detail Start -->
					<div class="pb-3">
						<div class="blog-item">
							<div id="header-carousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div th:each="image, iterStat : ${imageList}" class="carousel-item" th:classappend="${iterStat.index == 0} ? 'active' : ''">
										<img class="w-100" style="height: 420px" th:src="'/public/img/' + ${image.url}" alt="Image">
									</div>
								</div>
								<a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
									<div class="btn btn-dark" style="width: 45px; height: 45px;">
										<span class="carousel-control-prev-icon mb-n2"></span>
									</div>
								</a>
								<a class="carousel-control-next" href="#header-carousel" data-slide="next">
									<div class="btn btn-dark" style="width: 45px; height: 45px;">
										<span class="carousel-control-next-icon mb-n2"></span>
									</div>
								</a>
							</div>
						</div>
						<div class="bg-white mb-3" style="padding: 30px;">
							<div class="d-flex mb-3">
								<a class="text-primary text-uppercase text-decoration-none"
									href="">Tour</a> <span class="text-primary px-2">|</span> <a
									class="text-primary text-uppercase text-decoration-none"
									href="">Tours Detail</a>
							</div>
							<div class="container" id="setImage" th:utext="${tour.noi_dung_tour}"></div>
						</div>
						<div class="bg-white mb-3" style="padding: 30px;">
							<div class="d-flex mb-3">
								<a class="text-primary text-uppercase text-decoration-none"
									href="">Tour liên quan khác</a> <span class="text-primary px-2">|</span>
							</div>
							<ul id="products"></ul>
							<!-- <div th:each="tour : ${tours}" class="col-lg-4 col-md-6 mb-4">
								<div class="package-item bg-white mb-2">
									<img class="img-fluid" style="height: 220px; width: 100%;" th:src="'/public/img/' + ${tour.anh_tour}" alt="">
									<div class="p-4">
										<div class="d-flex justify-content-between mb-3" th:inline="text">
											<small class="m-0"><i
												class="fa fa-map-marker-alt text-primary mr-2"></i>[[${tour.diem_den}]]</small>
											<small class="m-0">[[${tour.so_ngay}]] ngày</small>
										</div>
										<a class="h5 text-decoration-none"
											th:href="@{/tour/{id}(id=${tour.id})}"
											th:text="${tour.ten_tour}"></a>
										<p class="card-text" style="height: 40px" th:text="${tour.gioi_thieu_tour}"></p>
										<div class="border-top mt-4 pt-4">
											<div class="d-flex justify-content-between">
												<h6 class="m-0">
													<i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small>
												</h6>
												<h5 class="m-0" id="favor" th:inline="text">
													[[${#numbers.formatInteger(tour.gia_tour,3,'POINT')}]] VNĐ</h5>
											</div>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<!-- Blog Detail End -->
				</div>

				<div class="col-lg-4 mt-5 mt-lg-0">
					<!-- Author Bio -->
					<form  th:action="@{/tour/booking/{id}(id=${tour.id})}" method="GET" class="d-flex flex-column text-center bg-white mb-5 py-5 px-4">
						<img th:src="'/public/img/' + ${tour.anh_tour}" class="img-fluid mx-auto mb-3"
							style="width: 100px;">
						<h3 class="text-primary mb-3" th:text="${tour.ten_tour}"></h3>
						<p th:text="${tour.gioi_thieu_tour}">Conset elitr erat vero
							dolor ipsum et diam, eos dolor lorem, ipsum sit no ut est ipsum
							erat kasd amet elitr</p>
						<h4 class="text-danger mb-3">Lịch khởi hành và giá</h4>
						<select class="custom-select px-4" name="ngay_khoi_hanh" style="height: 47px;">
							<option th:each="date : ${listDate}" th:value="${date.getNgay_khoi_hanh()}"
								th:text="${#dates.format(date.ngay_khoi_hanh, 'dd-MM-yyyy')}">Chọn
								ngày khởi hành</option>
						</select>
						<input type="hidden" name="tong_tien" id="input_tong_tien" value="">
						<h5 class="text-danger mt-4" th:attr="data-price=${tour.gia_tour}" id="gia_tour" th:inline="text">Giá : [[${#numbers.formatInteger(tour.gia_tour,3,'POINT')}]] VNĐ / người</h5>
						<input type="number" value="1" class="form-control p-4" id="so_nguoi" name="so_nguoi" placeholder="Nhập số người" />
						<h5 class="text-danger mt-4 mb-2" id="tong_tien">Tông tiền : 15.000.000 đ</h5>
						<button type="submit" class="btn btn-primary py-md-3 px-md-5 mt-2">Đặt tour ngay</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Blog End -->


	<!-- Footer Start -->
	<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5"
		style="margin-top: 90px;">
		<div class="row pt-5">
			<div class="col-lg-4 col-md-6 mb-5">
				<a href="" class="navbar-brand">
					<h1 class="text-primary">
						<span class="text-white">TRAVELO</span>KAKA
					</h1>
				</a>
				<p>Công ty dịch vụ du lịch và vận chuyển</p>
				<h6 class="text-white text-uppercase mt-4 mb-3">Theo dõi chúng tôi</h6>
				<div class="d-flex justify-content-start">
					<a class="btn btn-outline-primary btn-square mr-2" href="#"><i
						class="fab fa-twitter"></i></a> <a
						class="btn btn-outline-primary btn-square mr-2" href="#"><i
						class="fab fa-facebook-f"></i></a> <a
						class="btn btn-outline-primary btn-square mr-2" href="#"><i
						class="fab fa-linkedin-in"></i></a> <a
						class="btn btn-outline-primary btn-square" href="#"><i
						class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-5">
				<h5 class="text-white text-uppercase mb-4"
					style="letter-spacing: 5px;">Dịch vụ của chúng tôi</h5>
				<div class="d-flex flex-column justify-content-start">
					<a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Về chúng tôi</a> 
					<a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đặt tour</a> 
					<a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Liên hệ</a> 
					<a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tin tức</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-5">
				<h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Liên hệ với chúng tôi</h5>
				<p>
					<i class="fa fa-map-marker-alt mr-2"></i>828 Sư Vạn Hạnh, Phường 12, Quận 10, TP Hồ Chí Minh
				</p>
				<p>
					<i class="fa fa-phone-alt mr-2"></i>012 345 67890
				</p>
				<p>
					<i class="fa fa-envelope mr-2"></i>travelokaka@business.com
				</p>
				<h6 class="text-white text-uppercase mt-4 mb-3"
					style="letter-spacing: 5px;">Góp ý</h6>
				<div class="w-100">
					<div class="input-group">
						<input type="text" class="form-control border-light"
							style="padding: 25px;" placeholder="Email của bạn">
						<div class="input-group-append">
							<button class="btn btn-primary px-3">Gửi</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Footer End -->




	<!-- Back to Top -->
	<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
	<!-- JavaScript Libraries -->
	<script src="/public/js/boostrap-bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="public/lib/easing/easing.min.js"></script>
	<script src="public/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="public/lib/tempusdominus/js/moment.min.js"></script>
	<script src="public/lib/tempusdominus/js/moment-timezone.min.js"></script>
	<script
		src="public/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

	<!-- Contact Javascript File -->
	<script src="public/mail/jqBootstrapValidation.min.js"></script>
	<script src="public/mail/contact.js"></script>

	<!-- Template Javascript -->
	<script src="public/js/main.js"></script>
	<script type="text/javascript">
		window.onload = function () {
			let so_nguoi = Number(document.getElementById("so_nguoi").value);
			let gia_tien = Number(document.getElementById("gia_tour").dataset.price);
			document.getElementById("input_tong_tien").value = so_nguoi * gia_tien;
			document.getElementById("tong_tien").innerHTML = 'Tổng tiền: '+(so_nguoi * gia_tien).toLocaleString() + ' VNĐ'
		}

		document.getElementById("so_nguoi").onchange = function () {
			let so_nguoi = Number(document.getElementById("so_nguoi").value);
			let gia_tien = Number(document.getElementById("gia_tour").dataset.price);
			document.getElementById("input_tong_tien").value = so_nguoi * gia_tien;
			document.getElementById("tong_tien").innerHTML = 'Tổng tiền: '+(so_nguoi * gia_tien).toLocaleString() + ' VNĐ'
		}

		// Display related list START
		var products = {
		MUA_XUAN_DA_LAT: {
			tags: 'dulichdalat, dalat, muaxuan',
			url: 'http://localhost:8085/tour/37'
		},
		MUA_HE_DA_LAT: {
			tags: 'dulichdalat, dalat, muahe',
			url: 'http://localhost:8085/tour/37'
		}
		}
		var finalHtml = "";
		for (var item in products) {
		finalHtml += '<li><a href="' + products[item].url + '">' + item + '<\/a> <br \/>Tags: ' + products[item].tags + '<br \</li>';
		}
		document.getElementById("products").innerHTML = finalHtml;
		// Display related list END
	</script>
</body>

</html>
